<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - Salon_System</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/adminlte.min.css">
    <link rel="stylesheet" href="~/css/style.css" />
    <!-- Select 2 -->
    <link rel="stylesheet" href="~/css/select2.css" />
    <link rel="stylesheet" href="~/css/select2.min.css" />
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-dark navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>
            <a href="#" class="brand-link">
                <img src="/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle" style="opacity: .8">
                <span class="brand-text" style="color:white">Salon System</span>
            </a>
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Fulscreen -->
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
            </ul>
            <a href="#" class="brand-link">
                <img src="/img/user3-128x128.jpg" alt="Avatar Image" class="brand-image img-circle" style="opacity: .8">
            </a>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-light-primary elevation-4">
            <header>
                <!-- Brand Logo -->
                <a href="#" class="brand-link">
                    <img src="/img/Feathertouch.jpg" alt="Business Logo" class="business-logo" />
                </a>
            </header>
            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item">
                            <a href="#" class="elements nav-link">
                                <i class="nav-icon fas fa-home"></i>
                                <p>
                                    Home
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="elements nav-link">
                                <i class="nav-icon fas fa-calendar"></i>
                                <p>
                                    Calendar
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="elements nav-link">
                                <i class="nav-icon fas fa-calendar-plus"></i>
                                <p>
                                    Bookings
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="elements nav-link">
                                <i class="nav-icon fas fa-user"></i>
                                <p>
                                    Profile
                                </p>
                            </a>
                        </li>
                        <li class="nav-item menu">
                            <a class="elements nav-link">
                                <i class="nav-icon fas fa-users"></i>
                                <p>
                                    Users
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Client/Index" class="elements nav-link">
                                        <p>Clients</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Employee/Index" class="elements nav-link">
                                        <p>Employees</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item menu">
                            <a class="elements nav-link">
                                <i class="nav-icon fas fa-cogs"></i>
                                <p>
                                    Services
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Service/Index" class="elements nav-link">
                                        <p>Service</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <p>Service Category</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <p>Service Package</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="elements nav-link">
                                <i class="nav-icon fas fa-check-square"></i>
                                <p>
                                    Consent
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="elements nav-link">
                                <i class="nav-icon fas fa-suitcase"></i>
                                <p>
                                    Inventory
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="elements nav-link">
                                <i class="nav-icon fas fa-chart-bar"></i>
                                <p>
                                    Reports
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="elements nav-link">
                                <i class="nav-icon fas fa-check-double"></i>
                                <p>
                                    Logs
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="elements nav-link">
                                <i class="nav-icon fas fa-power-off"></i>
                                <p>
                                    Sign Out
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Page content -->
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <!-- /.page content -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
            <div class="p-3">
                <h5>Title</h5>
                <p>Sidebar content</p>
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline">
                Styled by: <a href="https://adminlte.io">AdminLTE.io</a>
            </div>
            <!-- Default to the left -->
            &copy; 2023 - Salon_System
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap-->
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/js/adminlte.min.js"></script>
    <!-- Custom -->
    <script src="~/css/style.css"></script>
    <script src="~/js/custom.js"></script>
    <!-- Select 2-->
    <script src="~/js/select2.min.js"></script>

    <!--Page specific script-->
    <script>
        //Initialize Select2 Elements
        $('.selectMultiple').select2()
    </script>
@RenderSection("scripts", required:false)
</body>
</html>
