@{
    ViewData["Title"] = "Bookings";
}

<!--Title-->
<div class="container pt-3">
    <div class="card card-primary card-outline">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="text-right">@ViewData["Title"]</h2>
                </div>
            </div>
        </div>
    </div>
</div>