@model Salon_System.Models.Client

@{
    ViewData["Title"] = "Delete Client";
    var errorMessage = TempData["errorMessage"]?.ToString();
    var successMessage = TempData["successMessage"]?.ToString();
}
@if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert alert-danger">
        <strong>Error! </strong>@errorMessage
        <button type="button" class="btn-close float-right" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
else @if (!string.IsNullOrWhiteSpace(successMessage))
{
    <div class="alert alert-success">
        <strong>Error! </strong>@successMessage
        <button type="button" class="btn-close float-right" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<!-- Title-->
<div class="container col-sm-10 pt-3">
    <div class="card card-white pt-3">
        <h2 class="text-center">@ViewData["Title"]</h2>
    </div>
</div>

<!-- Client Details Form-->
<section class="content">
    <div class="container-fluid col-sm-10">
        <div class="card card-primary card-outline">
            <div class="card-header pt-1">
                <h3 class="card-title">Client Details</h3>
            </div>

            <div class="card-body">
                <!-- form start -->
                <form action="Delete" method="post" autocomplete="off">
                    <div class="card-body">
                        <div class="row pt-1">
                            <div class="col-sm-3">
                                <!-- text input -->
                                <div class="form-group">
                                    <label class="form-label">First Name</label>
                                    <input type="text" class="form-control" asp-for="FirstName" readonly />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <!-- text input -->
                                <div class="form-group">
                                    <label class="form-label">Last name</label>
                                    <input type="text" class="form-control" asp-for="LastName" readonly />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <!-- select input -->
                                <div class="form-group">
                                    <label class="form-label">Gender</label>
                                    <input type="text" class="form-control" asp-for="Gender" readonly />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <!-- text input -->
                                <div class="form-group">
                                    <label class="form-label">Date Of Birth</label>
                                    <input type="date" class="form-control" asp-for="DateOfBirth" placeholder="DD/MM/YYYY" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-3">
                            <div class="col-sm-6">
                                <!-- text input -->
                                <div class="form-group">
                                    <label class="form-label">Email</label>
                                    <input type="text" class="form-control" asp-for="Email" readonly />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <!-- text input -->
                                <div class="form-group">
                                    <label class="form-label">Mobile Phone</label>
                                    <input type="text" class="form-control" asp-for="Phone" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="row pt-3">
                            <div class="col-sm-6">
                                <!-- text input -->
                                <div class="form-group">
                                    <label class="form-label">Address</label><br />
                                    <a>Street Name and Number</a>
                                    <input type="text" class="form-control" asp-for="Address" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <!-- text input -->
                                <div class="form-group">
                                    <a>Suburb</a>
                                    <input type="text" class="form-control" asp-for="Suburb" readonly/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <!-- text input -->
                                <div class="form-group">
                                    <a>City</a>
                                    <input type="text" class="form-control" asp-for="City" readonly/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <!-- text input -->
                                <div class="form-group">
                                    <a>Country</a>
                                    <input type="text" class="form-control" asp-for="Country" readonly/>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <!-- text input -->
                                <div class="form-group">
                                    <a>Postcode</a>
                                    <input type="text" class="form-control" asp-for="PostCode" readonly />
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-danger float-right" onclick="return confirm('Are you sure you want to delete this client?')">Delete</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>