@model Salon_System.Models.Client

@{
    ViewData["Title"] = "Details";
    var errorMessage = TempData["errorMessage"]?.ToString();
    var successMessage = TempData["successMessage"]?.ToString();
}
@if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert alert-danger">
        <strong>Error! </strong>@errorMessage
        <button type="button" class="btn-close float-right" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
else @if (!string.IsNullOrWhiteSpace(successMessage))
{
    <div class="alert alert-success">
        <strong>Error! </strong>@successMessage
        <button type="button" class="btn-close float-right" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<!-- Title-->
<div class="container col-sm-10 pt-3">
    <div class="card card-white pt-3">
        <h2 class="text-center">@ViewData["Title"] for @Model.FullName</h2>
    </div>
</div>

<!-- Client Details Form-->
<section class="content">
    <div class="container-fluid col-sm-10">
        <div class="card card-primary card-outline">
            <div class="card-header pt-1">
                <h3 class="card-title">Client Details</h3>
            </div>

            <div class="card-body">
                <!-- form start -->
                <form action="Delete" method="post" autocomplete="off">
                    <div class="card-body">
                        <div class="row pt-1">
                            <!-- Hidden ID -->
                            <div class="form-group">
                                <input type="hidden" class="form-control" asp-for="Id" readonly />
                            </div>
                            <div class="col-sm-6">
                                <!-- Readonly Name -->
                                <div class="form-group">
                                    <label class="form-label">Full Name</label>
                                    <input type="text" class="form-control" asp-for="FullName" readonly />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <!-- Readonly Gender -->
                                <div class="form-group">
                                    <label class="form-label">Gender</label>
                                    <input type="text" class="form-control" asp-for="Gender" readonly />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <!-- Readonly DOB -->
                                <div class="form-group">
                                    <label class="form-label">Date Of Birth</label>
                                    <input type="date" class="form-control" asp-for="DateOfBirth" placeholder="DD/MM/YYYY" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-3">
                            <div class="col-sm-6">
                                <!-- Readonly Email -->
                                <div class="form-group">
                                    <label class="form-label">Email</label>
                                    <input type="text" class="form-control" asp-for="Email" readonly />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <!-- Readonly Mobile -->
                                <div class="form-group">
                                    <label class="form-label">Mobile</label>
                                    <input type="text" class="form-control" asp-for="Phone" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="row pt-3">
                            <div class="col-sm-6">
                                <!-- Readonly Address -->
                                <div class="form-group">
                                    <label class="form-label">Address</label><br />
                                    <input type="text" class="form-control" asp-for="Address" readonly />
                                    <input type="text" class="form-control" asp-for="Suburb" readonly />
                                    <input type="text" class="form-control" asp-for="City" readonly />
                                    <input type="text" class="form-control" asp-for="Country" readonly />
                                    <input type="text" class="form-control" asp-for="PostCode" readonly />
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->

                        <!-- card-footer-->
                        <div class="card-footer float-right" style="color:white;">
                            <a asp-controller="Client" asp-action="Update" asp-route-id="@Model?.Id" class="btn btn-secondary">Edit</a>&nbsp&nbsp&nbsp
                            <a asp-controller="Client" asp-action="Delete" asp-route-id="@Model?.Id" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete @Model?.FullName from the system?')">Delete</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>