@{
    ViewData["Title"] = "Update Service";
}
<h1>@ViewData["Title"]</h1>

<!--Update the Service
    Name
    Description
    Fee
    Duration
    Age Restriction
    Consent Form
    Service Category
    Employees who can perform the service
-->
