@model Salon_System.Models.Employee

@{
    ViewData["Title"] = "Create New Employee";
    var errorMessage = TempData["errorMessage"]?.ToString();
    var successMessage = TempData["errorMessage"]?.ToString();
}
@if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <!--Displays a red banner with error message-->
    <div class="alert alert-danger">
        Error! @errorMessage
    </div>
}
else @if (!string.IsNullOrWhiteSpace(successMessage))
{
    <!--Displays a green banner with success message-->
    <div class="alert alert-success">
        @successMessage
    </div>
}

<!-- Title-->
<div class="container col-sm-10 pt-3">
    <div class="card card-white pt-3">
        <h2 class="text-center">@ViewData["Title"]</h2>
    </div>
</div>

<!-- New Employee Form-->
<section class="content">
    <div class="container-fluid col-sm-10">
        <div class="card card-primary card-outline">
            <div class="card-header pt-3">
                <h3 class="card-title">Employee Details</h3>
            </div>

            <div class="card-body">
                <!-- form start -->
                <form action="Create" method="post" autocomplete="off">
                    <!--<div id="job-title-container">--> <!--Add more Job Titles later-->
                    <div class="row pt-3">
                        <div class="col-sm-3">
                            <!--text input -->
                            <div class="form-group">
                                <label class="form-label">Job Title</label>
                                <input type="text" class="form-control" asp-for="JobTitle" />
                                <span asp-validation-for="JobTitle" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <!-- text input -->
                            <div class="form-group">
                                <label class="form-label">Job Description</label>
                                <input type="text" class="form-control" asp-for="JobDesc" />
                                <span asp-validation-for="JobDesc" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <!-- text input -->
                            <div class="form-group">
                                <label class="form-label">Hire Date</label>
                                <input type="date" class="form-control" asp-for="HireDate" placeholder="DD/MM/YY">
                                <span asp-validation-for="HireDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <!--<button id="add-job-title" class="btn btn-secondary float-right">Add Job Title</button>-->  <!--Button to Add more Job Titles-->

                    <div class="row  pt-3">
                        <div class="col-sm-3">
                            <!-- text input -->
                            <div class="form-group">
                                <label class="form-label">First Name</label>
                                <input type="text" class="form-control" asp-for="FirstName" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <!-- text input -->
                            <div class="form-group">
                                <label class="form-label">Last name</label>
                                <input type="text" class="form-control" asp-for="LastName" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <!-- select input -->
                            <div class="form-group">
                                <label class="form-label">Gender</label>
                                <select class="form-control" asp-for="Gender">
                                    <option>Select</option>
                                    <option>Female</option>
                                    <option>Male</option>
                                    <option>Rather not say</option>
                                    <span asp-validation-for="Gender" class="text-danger"></span>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <!-- text input -->
                            <div class="form-group">
                                <label class="form-label">Date Of Birth</label>
                                <input type="date" class="form-control" asp-for="DateOfBirth" placeholder="DD/MM/YYYY">
                                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="col-sm-6">
                            <!-- text input -->
                            <div class="form-group">
                                <label class="form-label">Email</label>
                                <input type="text" class="form-control" asp-for="Email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <!-- text input -->
                            <div class="form-group">
                                <label class="form-label">Mobile Phone</label>
                                <input type="text" class="form-control" asp-for="Phone" />
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="col-sm-6">
                            <!-- text input -->
                            <div class="form-group">
                                <label class="form-label">Address</label><br />
                                <a>Street Name and Number</a>
                                <input type="text" class="form-control" asp-for="Address" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <!-- text input -->
                            <div class="form-group">
                                <a>Suburb</a>
                                <input type="text" class="form-control" asp-for="Suburb" />
                                <span asp-validation-for="Suburb" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <!-- text input -->
                            <div class="form-group">
                                <a>City</a>
                                <input type="text" class="form-control" asp-for="City" />
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <!-- text input -->
                            <div class="form-group">
                                <a>Country</a>
                                <input type="text" class="form-control" asp-for="Country" />
                                <span asp-validation-for="Country" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <!-- text input -->
                            <div class="form-group">
                                <a>Postcode</a>
                                <input type="text" class="form-control" asp-for="PostCode" />
                                <span asp-validation-for="PostCode" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer float-right" style="background-color:transparent;">
                        <a href="/Client/Index" class="link mr-3">Cancel</a>
                        <button type="submit" class="btn btn-secondary float-right mr-5">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}