@{
    ViewData["Title"] = "Welcome";
}

<!-- Background Image-->
<div class="bg-img">
    <!-- Title-->
    <div class="container pt-5">
        <div class="card">
            <img src="/img/Feathertouch.jpg" alt="Business Logo" class="business-logo-home" />

            <div class="card-body">
                <h2 class="text-center mt-3">Welcome to Feathertouch Booking System</h2>
                <div class="card-row text-center mt-4" style="padding-bottom: 100px">
                    <p>
                    Book a new appointment today or manage your existing appointments from the menu
                    </p>
                    <p>
                        Stay up-to-date with Salon info via our Facebook page
                    </p>  
                    <p>
                        If any question's contact myself or the team below
                    </p>
                    <p>
                    Kimmi Eru (Salon Manager)
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>