@{
    ViewData["Title"] = "Welcome";
}

<!-- Background Image-->
<div class="bg-img">
    <!-- Title-->
    <div class="container pt-5">
        <div class="card">
            <img src="/img/Feathertouch.jpg" alt="Business Logo" class="business-logo-home" />

            <div class="card-body">
                <h2 class="text-center mt-3">Welcome to Feathertouch Cosmetic Tattoo Studio</h2>
                <div class="card-row mt-3 ml-3 mr-3">
                    <p>    ABOUT US
                    In 2016 Cherie travelled to Australia to train with one of the most reputable artists Val Glover Hovan in Australia to learn the art of Cosmetic Tattoo.After returning home Cherie quickly became a house hold name within NZ which lead to her eventually rebrand to the incredible business we share with you today.Over the last 9 years Feather Touch Cosmetic Tattoo has expanded from the small salon once based Aotea and Petone, to now a team of 6 likeminded creatives.
                    In 2019 after mastering an iconic Cosmetic Tattoo style, Cherie went on to open The Feather Touch Cosmetic Tattoo Academy where she has since passed on her wealth of knowledge to some really incredible artists around the country.
                    In 2021 Feather Touch Cosmetic Tattoo relocated to a beautiful salon based in Central Lower Hutt.It is here we proudly offer a range of high quality services from Brow Shaping & Tinting, Lash Extensions, Piercings, IPL hair removal, skin rejuvenation and skin needling, Cosmetic Tattoo and Tattoo Removal and Education.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>