@{
    ViewData["Title"] = "Welcome";
}

<!-- Background Image-->
<div class="bg-img">
    <!-- Title-->
    <img src="/img/Feathertouch.jpg" alt="Business Logo" class="business-logo-home" />
    <div class="container pt-5">
        <div class="card" style="margin-left:20%; margin-right: 20%; border-radius:05%;">
            <div class="card-body">
                <h2 class="text-center mt-3">Welcome to Feathertouch Booking System</h2>
                <div class="card-row text-center mt-4">
                    <p>
                    Book a new appointment or manage your existing appointments today!
                    </p>
                    <p>
                        Stay up-to-date with Salon info via our Facebook page
                    </p>  
                    <p>
                        If any question's contact myself or the team below
                    </p>
                    <p>
                    Kimmi Eru (Salon Manager)
                    </p>
                </div>
                <div class="card-row text-center mt-5">
                    <button class="btn btn-primary mr-3 col-2" style="color:white;">Bookings</button>
                    <button class="btn btn-success mr-3 col-2" style="color:white;">Profile</button>
                    <button class="btn btn-secondary mr-3 col-2" style="color:white;">Account</button>
                    <button class="btn btn-danger mr-3 col-2" style="color:white;">Feedback</button>
                </div>
                <div class="card-row text-center mt-5" style="padding-bottom: 50px">
                    <div>
                        <img src="/img/user3-128x128.jpg" alt="Avatar Image" id="avatar image" class="avatar img-circle mr-2">
                        <span class="mr-4">Cherie Aryton (Salon Owner)</span>
                        <img src="/img/user4-128x128.jpg" alt="Avatar Image" id="avatar image" class="avatar img-circle mr-2">
                        <span class="mr-4">Kimmi Eru (Salon Manager)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>