/*Business logo*/
.business-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 100px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/*Business logo*/
.business-logo-main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50px;
}

.busines-logo-text {
    margin-left: -10px;
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    visibility: hidden;
}



.logo {
    vertical-align: middle;
    width: 100px;
    height: 60px;
    border-radius: 50%;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

    /*Profile Picture*/
    .profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    height: 100%;
    width: auto;
}

.menu-button {
    vertical-align: middle;
    width: 60px;
    height: 60px;
}